[submodule "amos"]
	path = amos
	url = https://github.com/Jitpomi/amos.git
[submodule "knot-protocol"]
	path = knot-protocol
	url = https://github.com/Jitpomi/knot-protocol.git
[submodule "iroh-knot"]
	path = iroh-knot
	url = https://github.com/Jitpomi/iroh-knot.git
